<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body bgcolor="skyblue">
        <br><br><br>
        <hr border="30" color="red" width="430px" align="left">
        <table border="1" borderColor="white">
            <tr>
                <th>Sr.no</th>
                <th>Name</th>
                <th>Father name</th>
                <th>Contact</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Naresh</td>
                <td>Ramaiah</td>
                <td>8897783625</td>
                <td>padalanari@gmail.com</td>
            </tr>
        </table>
        <hr color="red" width="430px" align="left">

    </body>
</html>
